// Foundation settings
$header-font-family: "PT Sans", Helvetica, Arial, sans-serif;
$header-font-weight: normal;
$header-font-style: normal;
$header-font-color: $grey;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(18);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$code-color: inheirit;
$code-font-family: 'PT Mono', monospace;
$code-font-weight: normal;
