// colors
$grey: #444;
$light_grey: adjust-lightness($grey, 60);
$black: #1b1b1b;
$white: #b1b1b1;

// http://www.colourlovers.com/palette/3319599/Aerodynamic
// http://www.colourlovers.com/palette/3319540/Azul_a_Laranja

// http://www.colourlovers.com/palette/694737/Thought_Provoking
$yellow: #ECD078;
$orange: #D95B43;
$red: #C02942;
$purple: #542437;
$blue: #53777A;
